<!DOCTYPE html>
<html lang="fr" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAVON APP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .logo, footer {
            text-align: center;
        }
        .Non-disponible {
            background-color: red;
        }

        .Disponible {
            background-color: green;
        }

        .Disponible,
        .Non-disponible {
            color: #fff;
            text-align: center;
            border-radius: 2em;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="logo">
            <img src="https://www.maison-du-savon-de-marseille.fr/img/cms/cms/savon-logo.jpg" alt="logo">
        </div>
        <hr>
        
        <table>
            <thead>
                <tr>
                    <th scope="col">Nom du savon</th>
                    <th scope="col">Description du savon</th>
                    <th scope="col">Disponibilité</th>
                </tr>
            </thead>
            <tbody>
                <%if(savonId.length){%>
                    <% savonId.forEach(function(savon){ %>
                        <tr>
                            <td>
                                <%= savon.title %>
                            </td>
                            <td>
                                <%= savon.description %>
                            </td>
                            <td>
                                <p class="<%= savon.status %>">
                                    <%= savon.status %>
                                </p>
                            </td>
                            <% }) %>
                            <% }else{ %>
                        </tr>
                                <tr>
                                    <td colspan="3">Pas de savons listés</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
        <footer>
            <p> \\ Un savon naturel pour votre beauté naturelle //</p>
        </footer>
    </div>
</body>

</html>